In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
URL_BASES = "/scratch2/haniel.botelho/"
extracao = 'extracao.csv'

extracao = URL_BASES + extracao

comeco_intervalo = 60 * 0
final_intervalo = 60 * 24

In [2]:
df_extracao = pd.read_csv(extracao)
df_extracao.head(100000)

,patientunitstayid,bands,CRP,CRP.1,ESR,celsius,WBC,BUN,creatinine,bicarbonate,...,albumin,chloride,glucose,sodium,GCS,systolic,ox_saturation,heartRate,gender,age
0,141194,NaN,NaN,NaN,NaN,NaN,14.1,31.0,2.51,15.0,...,2.3,108.0,168.0,136.0,643.0,84.0,100.0,112.0,Male,68
1,141197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,654.0,NaN,94.0,99.0,Male,71
2,141227,10.0,NaN,NaN,NaN,NaN,42.7,32.0,1.90,16.0,...,NaN,101.0,145.0,134.0,643.0,131.0,NaN,NaN,Male,82
3,141266,NaN,NaN,NaN,NaN,NaN,10.0,31.0,1.60,37.0,...,3.0,100.0,240.0,142.0,654.0,101.0,98.0,93.0,Male,73
4,141288,26.0,NaN,NaN,NaN,NaN,16.3,13.0,0.73,26.0,...,NaN,105.0,100.0,140.0,654.0,96.0,NaN,NaN,Female,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23131,3352884,NaN,NaN,NaN,NaN,NaN,14.4,20.0,0.91,15.0,...,2.8,122.0,74.0,142.0,644.0,85.0,99.0,114.0,Female,85
23132,3352895,NaN,NaN,NaN,NaN,NaN,7.9,26.0,3.31,29.0,...,11.0,104.0,124.0,137.0,554.0,70.0,100.0,63.0,Female,83
23133,3352922,NaN,NaN,NaN,NaN,NaN,19.7,21.0,1.83,21.0,...,NaN,105.0,215.0,138.0,412.0,84.0,99.0,109.0,Male,77
23134,3352940,NaN,NaN,NaN,NaN,NaN,18.9,8.0,0.45,23.0,...,2.9,93.0,73.0,130.0,414.0,93.0,98.0,107.0,Female,23
23135,3352961,NaN,NaN,NaN,NaN,NaN,15.4,20.0,1.27,23.0,...,NaN,106.0,121.0,138.0,422.0,121.0,95.0,71.0,Male,70

In [3]:
df_extracao.columns

Index(['patientunitstayid', 'bands', 'CRP', 'CRP.1', 'ESR', 'celsius', 'WBC',
       'BUN', 'creatinine', 'bicarbonate', 'lactate', 'troponin', 'pao2', 'RR',
       'alanine', 'aspartate', 'bilirubin', 'hemoglobin', 'inr', 'platelets',
       'albumin', 'chloride', 'glucose', 'sodium', 'GCS', 'systolic',
       'ox_saturation', 'heartRate', 'gender', 'age'],
      dtype='object')

In [5]:
df_numeric = df_extracao.apply(lambda col: pd.to_numeric(col, errors='coerce'))
col_stats = {
    'max': df_numeric.max(skipna=True),
    'min': df_numeric.min(skipna=True),
    'nulos': df_extracao.isnull().sum(),
    'percentual_nulos': df_extracao.isnull().mean() * 100,
}

# Criar um DataFrame a partir das estatísticas
df_col_stats = pd.DataFrame(col_stats)
df_col_stats['percentual_nulos'] = df_col_stats['percentual_nulos'].apply(lambda x: '{:.2f}%'.format(x))

# Ajustar o índice para ter os nomes das colunas do 'sepse' como linhas do novo DataFrame
df_col_stats.index.name = 'Colunas'

df_col_stats.sort_values(by = "percentual_nulos",ascending=False)

                            max       min  nulos percentual_nulos
Colunas
ESR                1.450000e+02       1.0  22492           97.22%
CRP                4.535000e+03       0.1  22422           96.91%
CRP.1              4.535000e+02       0.1  22353           96.62%
RR                 6.400000e+01       0.0  21275           91.96%
GCS                6.540000e+02     111.0   2295            9.92%
hemoglobin         2.010000e+01       2.8   2287            9.89%
celsius            4.111111e+01      29.4  19910           86.06%
bands              9.320000e+01       0.0  19580           84.63%
chloride           1.530000e+02      62.0   1949            8.42%
BUN                2.890000e+02       1.0   1900            8.21%
creatinine         5.710000e+02       0.1   1878            8.12%
troponin           3.220000e+02       0.0  16525           71.43%
sodium             2.270000e+02      13.0   1797            7.77%
inr                1.960000e+01       0.8  14523           62.77%
pao2               5.760000e+02       0.0  13933           60.22%
bilirubin          4.120000e+01       0.0  10491           45.34%
alanine            1.034000e+04       2.0  10429           45.08%
aspartate          3.166400e+04       3.0  10324           44.62%
lactate            3.350000e+01       0.0  10052           43.45%
glucose            1.791000e+03       3.0   1111            4.80%
albumin            5.200000e+01       0.6   9226           39.88%
ox_saturation      9.690000e+02       0.0   5820           25.16%
heartRate          1.920000e+02       0.0   5366           23.19%
systolic           1.238000e+03     -19.0   4542           19.63%
bicarbonate        5.100000e+01       2.0   3433           14.84%
platelets          1.260000e+03       1.0   2554           11.04%
WBC                4.747000e+02       0.0   2362           10.21%
gender                      NaN       NaN      5            0.02%
patientunitstayid  3.352961e+06  141194.0      0            0.00%
age                8.900000e+01       5.0      0            0.00%

In [ ]:
df_extracao.dropna(colunms="CRP")