# Análise de Dados de Sepse na MIMIC-IV

## Descrição do Projeto
Este notebook visa identificar suspeitas de infecção em pacientes sépticos utilizando a base de dados MIMIC-IV. A análise é realizada em várias etapas, combinando dados de prescrição de antibióticos e eventos de microbiologia para determinar se há suspeita de infecção e o momento da mesma.

In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Preparação dos Dados

### Criação de novos dataframes *antibiotic_data* e *microbiology_data*
Foram utilizadas as tabelas *prescriptions* e *microbiology_events* para criar novos dataframes *antibiotic_data* e *microbiology_data* para facilitar a leitura e manipulação dos dados

In [99]:
# URLs dos arquivos CSV no GitHub
URL_BASES = "https://raw.githubusercontent.com/victoriafloresdev/sepsis-clustering/main/Databases/MIMIC/"

# Nomes dos arquivos CSV
csv_files = {
    'admissions': 'admissions.csv',
    'patients': 'patients.csv',
    'transfers': 'transfers.csv',
    'd_icd_diagnoses': 'd_icd_diagnoses.csv',
    'd_icd_procedures': 'd_icd_procedures.csv',
    'd_labitems': 'd_labitems.csv',
    'diagnoses_icd': 'diagnoses_icd.csv',
    'labevents': 'labevents.csv',
    'microbiologyevents': 'microbiologyevents.csv',
    'omr': 'omr.csv',
    'pharmacy': 'pharmacy.csv',
    'poe_detail': 'poe_detail.csv',
    'poe': 'poe.csv',
    'prescriptions': 'prescriptions.csv',
    'icustays' : 'icustays.csv'
}

# Carregar dados em DataFrames
dfs = {}
for name, file in csv_files.items():
    url = f"{URL_BASES}{file}"
    dfs[name] = pd.read_csv(url)
    dfs[name].name = name

# Exibir as primeiras linhas de cada DataFrame
for name, df in dfs.items():
    print(f"Tabela: {df.name}")
    print(df.head())
    print()

Tabela: admissions
   subject_id   hadm_id            admittime            dischtime  \
0    10004235  24181354  2196-02-24 14:38:00  2196-03-04 14:02:00
1    10009628  25926192  2153-09-17 17:08:00  2153-09-25 13:20:00
2    10018081  23983182  2134-08-18 02:02:00  2134-08-23 19:35:00
3    10006053  22942076  2111-11-13 23:39:00  2111-11-15 17:20:00
4    10031404  21606243  2113-08-04 18:46:00  2113-08-06 20:57:00

             deathtime admission_type admit_provider_id  \
0                  NaN         URGENT            P03YMR
1                  NaN         URGENT            P41R5N
2                  NaN         URGENT            P233F6
3  2111-11-15 17:20:00         URGENT            P38TI6
4                  NaN         URGENT            P07HDB

       admission_location        discharge_location insurance language  \
0  TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY  Medicaid  ENGLISH
1  TRANSFER FROM HOSPITAL          HOME HEALTH CARE  Medicaid        ?
2  TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY  Medicare  ENGLISH
3  TRANSFER FROM HOSPITAL                      DIED  Medicaid  ENGLISH
4  TRANSFER FROM HOSPITAL                      HOME     Other  ENGLISH

  marital_status                            race            edregtime  \
0         SINGLE              BLACK/CAPE VERDEAN  2196-02-24 12:15:00
1        MARRIED  HISPANIC/LATINO - PUERTO RICAN                  NaN
2        MARRIED                           WHITE  2134-08-17 16:24:00
3            NaN                         UNKNOWN                  NaN
4        WIDOWED                           WHITE                  NaN

             edouttime  hospital_expire_flag
0  2196-02-24 17:07:00                     0
1                  NaN                     0
2  2134-08-18 03:15:00                     0
3                  NaN                     1
4                  NaN                     0

Tabela: patients
   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10014729      F          21         2125       2011 - 2013         NaN
1    10003400      F          72         2134       2011 - 2013  2137-09-02
2    10002428      F          80         2155       2011 - 2013         NaN
3    10032725      F          38         2143       2011 - 2013  2143-03-30
4    10027445      F          48         2142       2011 - 2013  2146-02-09

Tabela: transfers
   subject_id     hadm_id  transfer_id  eventtype careunit  \
0    10009049  22995465.0     30030230  discharge      NaN
1    10025612  23403708.0     32533329  discharge      NaN
2    10020786  23488445.0     37922399  discharge      NaN
3    10014078  25809882.0     34694622  discharge      NaN
4    10039831  26924951.0     37155928  discharge      NaN

                intime outtime
0  2174-05-31 14:21:47     NaN
1  2125-10-03 12:25:27     NaN
2  2189-06-13 17:25:44     NaN
3  2166-08-26 14:49:42     NaN
4  2116-01-02 14:35:02     NaN

Tabela: d_icd_diagnoses
  icd_code  icd_version                                         long_title
0     0090            9  Infectious colitis, enteritis, and gastroenter...
1    01160            9      Tuberculous pneumonia [any form], unspecified
2    01186            9  Other specified pulmonary tuberculosis, tuberc...
3    01200            9                  Tuberculous pleurisy, unspecified
4    01236            9  Tuberculous laryngitis, tubercle bacilli not f...

Tabela: d_icd_procedures
  icd_code  icd_version                                         long_title
0     0039            9                    Other computer assisted surgery
1     0048            9          Insertion of four or more vascular stents
2     0074            9         Hip bearing surface, metal-on-polyethylene
3     0077            9       Hip bearing surface, ceramic-on-polyethylene
4     0126            9  Insertion of catheter(s) into cranial cavity o...

Tabela: d_labitems
   itemid                       label  fluid   category
0   50808                Free Calcium  Blood  Blood Gas
1   50826                Tidal Volume  Blood  Blood Gas
2   50813                     Lactate  Blood  Blood Gas
3   52029           % Ionized Calcium  Blood  Blood Gas
4   50801  Alveolar-arterial Gradient  Blood  Blood Gas

Tabela: diagnoses_icd
   subject_id   hadm_id  seq_num icd_code  icd_version
0    10035185  22580999        3     4139            9
1    10035185  22580999       10     V707            9
2    10035185  22580999        1    41401            9
3    10035185  22580999        9     3899            9
4    10035185  22580999       11    V8532            9

Tabela: labevents
   labevent_id  subject_id     hadm_id  specimen_id  itemid order_provider_id  \
0       172061    10014354  29600294.0      1808066   51277               NaN
1       172062    10014354  29600294.0      1808066   51279               NaN
2       172068    10014354  29600294.0      1808066   52172               NaN
3       172063    10014354  29600294.0      1808066   51301               NaN
4       172050    10014354  29600294.0      1808066   51249               NaN

             charttime            storetime value  valuenum valueuom  \
0  2148-08-16 00:00:00  2148-08-16 01:30:00  15.4     15.40        %
1  2148-08-16 00:00:00  2148-08-16 01:30:00  3.35      3.35     m/uL
2  2148-08-16 00:00:00  2148-08-16 01:30:00  49.7     49.70       fL
3  2148-08-16 00:00:00  2148-08-16 01:30:00  20.3     20.30     K/uL
4  2148-08-16 00:00:00  2148-08-16 01:30:00  31.1     31.10     g/dL

   ref_range_lower  ref_range_upper      flag priority comments
0             10.5             15.5       NaN  ROUTINE      NaN
1              4.6              6.1  abnormal  ROUTINE      NaN
2             35.1             46.3  abnormal  ROUTINE      NaN
3              4.0             10.0  abnormal  ROUTINE      NaN
4             32.0             37.0  abnormal  ROUTINE      NaN

Tabela: microbiologyevents
   microevent_id  subject_id     hadm_id  micro_specimen_id order_provider_id  \
0             36    10000032  25742920.0            7814634               NaN
1             15    10000032  22595853.0            5717063               NaN
2             32    10000032  29079034.0            5901894               NaN
3           7013    10020944  29974575.0            4646730               NaN
4          12898    10037975  27617929.0            1636367               NaN

             chartdate            charttime  spec_itemid spec_type_desc  \
0  2180-08-06 00:00:00  2180-08-06 20:35:00        70070           SWAB
1  2180-05-07 00:00:00  2180-05-07 00:19:00        70070           SWAB
2  2180-07-24 00:00:00  2180-07-24 00:55:00        70070           SWAB
3  2131-02-27 00:00:00  2131-02-27 17:41:00        70070           SWAB
4  2185-01-17 00:00:00  2185-01-17 21:32:00        70070           SWAB

   test_seq  ...          org_name isolate_num  quantity ab_itemid  \
0         1  ...               NaN         NaN       NaN       NaN
1         1  ...               NaN         NaN       NaN       NaN
2         1  ...               NaN         NaN       NaN       NaN
3         1  ...  ENTEROCOCCUS SP.         1.0       NaN   90015.0
4         1  ...               NaN         NaN       NaN       NaN

      ab_name dilution_text  dilution_comparison  dilution_value  \
0         NaN           NaN                  NaN             NaN
1         NaN           NaN                  NaN             NaN
2         NaN           NaN                  NaN             NaN
3  VANCOMYCIN          >256                  NaN             NaN
4         NaN           NaN                  NaN             NaN

   interpretation            comments
0             NaN  No VRE isolated.
1             NaN  No VRE isolated.
2             NaN  No VRE isolated.
3               R                 NaN
4             NaN  No VRE isolated.

[5 rows x 25 columns]

Tabela: omr
   subject_id   chartdate  seq_num      result_name result_value
0    10011398  2146-12-01        1  Height (Inches)           63
1    10011398  2147-01-22        1     Weight (Lbs)          127
2    10011398  2146-12-01        1     Weight (Lbs)          135
3    10011398  2147-07-24        1     Weight (Lbs)          136
4    10011398  2147-03-26        1     Weight (Lbs)          136

Tabela: pharmacy
   subject_id   hadm_id  pharmacy_id poe_id            starttime stoptime  \
0    10027602  28166872     24340150    NaN  2201-10-30 12:00:00      NaN
1    10027602  28166872     14435820    NaN  2201-10-30 12:00:00      NaN
2    10027602  28166872     40720238    NaN  2201-10-30 12:00:00      NaN
3    10027602  28166872     27168639    NaN  2201-10-30 12:00:00      NaN
4    10027602  28166872     62845687    NaN  2201-10-31 12:00:00      NaN

         medication              proc_type                            status  \
0         Midazolam  Miscellaneous Charges  Inactive (Due to a change order)
1         Midazolam  Miscellaneous Charges  Inactive (Due to a change order)
2  Fentanyl Citrate  Miscellaneous Charges  Inactive (Due to a change order)
3  Fentanyl Citrate  Miscellaneous Charges  Inactive (Due to a change order)
4         Lorazepam  Miscellaneous Charges  Inactive (Due to a change order)

             entertime  ... basal_rate one_hr_max doses_per_24_hrs duration  \
0  2201-10-30 12:32:11  ...        NaN        NaN              NaN      NaN
1  2201-10-30 12:54:34  ...        NaN        NaN              NaN      NaN
2  2201-10-30 12:32:11  ...        NaN        NaN              NaN      NaN
3  2201-10-30 12:54:34  ...        NaN        NaN              NaN      NaN
4  2201-10-31 12:02:42  ...        NaN        NaN              NaN      NaN

  duration_interval expiration_value  expiration_unit  expirationdate  \
0               NaN              NaN              NaN             NaN
1               NaN              NaN              NaN             NaN
2               NaN              NaN              NaN             NaN
3               NaN              NaN              NaN             NaN
4               NaN              NaN              NaN             NaN

   dispensation  fill_quantity
0           NaN            NaN
1           NaN            NaN
2           NaN            NaN
3           NaN            NaN
4           NaN            NaN

[5 rows x 27 columns]

Tabela: poe_detail
         poe_id  poe_seq  subject_id           field_name field_value
0   10011398-23       23    10011398             Admit to     Surgery
1  10011398-103      103    10011398          Transfer to     Surgery
2  10011398-163      163    10011398   Discharge Planning   Finalized
3  10011398-109      109    10011398  Tubes & Drains type  Chest tube
4   10011398-35       35    10011398  Tubes & Drains type  Chest tube

Tabela: poe
         poe_id  poe_seq  subject_id   hadm_id            ordertime  \
0  10002930-456      456    10002930  20282368  2201-03-23 19:14:33
1  10002930-454      454    10002930  20282368  2201-03-23 19:14:33
2  10002930-455      455    10002930  20282368  2201-03-23 19:14:33
3  10002930-453      453    10002930  20282368  2201-03-23 19:14:33
4  10002930-452      452    10002930  20282368  2201-03-23 19:14:33

     order_type      order_subtype transaction_type discontinue_of_poe_id  \
0  General Care              Other              New                   NaN
1  General Care  Vitals/Monitoring              New                   NaN
2  General Care           Activity              New                   NaN
3    IV therapy          IV access              New                   NaN
4    ADT orders              Admit              New                   NaN

  discontinued_by_poe_id order_provider_id order_status
0                    NaN            P04TDP     Inactive
1                    NaN            P04TDP     Inactive
2                    NaN            P04TDP     Inactive
3                    NaN            P04TDP     Inactive
4                    NaN            P04TDP     Inactive

Tabela: prescriptions
   subject_id   hadm_id  pharmacy_id poe_id  poe_seq order_provider_id  \
0    10027602  28166872     27168639    NaN      NaN               NaN
1    10027602  28166872     40720238    NaN      NaN               NaN
2    10027602  28166872     62845687    NaN      NaN               NaN
3    10027602  28166872     24340150    NaN      NaN               NaN
4    10027602  28166872     14435820    NaN      NaN               NaN

             starttime stoptime drug_type              drug  ...  gsn ndc  \
0  2201-10-30 12:00:00      NaN      MAIN  Fentanyl Citrate  ...  NaN NaN
1  2201-10-30 12:00:00      NaN      MAIN  Fentanyl Citrate  ...  NaN NaN
2  2201-10-31 12:00:00      NaN      MAIN         Lorazepam  ...  NaN NaN
3  2201-10-30 12:00:00      NaN      MAIN         Midazolam  ...  NaN NaN
4  2201-10-30 12:00:00      NaN      MAIN         Midazolam  ...  NaN NaN

   prod_strength form_rx dose_val_rx dose_unit_rx form_val_disp  \
0            NaN     NaN         NaN          NaN           NaN
1            NaN     NaN         NaN          NaN           NaN
2            NaN     NaN         NaN          NaN           NaN
3            NaN     NaN         NaN          NaN           NaN
4            NaN     NaN         NaN          NaN           NaN

  form_unit_disp doses_per_24_hrs  route
0            NaN              NaN    NaN
1            NaN              NaN    NaN
2            NaN              NaN    NaN
3            NaN              NaN    NaN
4            NaN              NaN    NaN

[5 rows x 21 columns]

Tabela: icustays
   subject_id   hadm_id   stay_id  \
0    10018328  23786647  31269608
1    10020187  24104168  37509585
2    10020187  26842957  32554129
3    10012853  27882036  31338022
4    10020740  25826145  32145159

                                    first_careunit        last_careunit  \
0                                   Neuro Stepdown       Neuro Stepdown
1  Neuro Surgical Intensive Care Unit (Neuro SICU)       Neuro Stepdown
2                               Neuro Intermediate   Neuro Intermediate
3                              Trauma SICU (TSICU)  Trauma SICU (TSICU)
4                              Trauma SICU (TSICU)  Trauma SICU (TSICU)

                intime              outtime       los
0  2154-04-24 23:03:44  2154-05-02 15:55:21  7.702512
1  2169-01-15 04:56:00  2169-01-20 15:47:50  5.452662
2  2170-02-24 18:18:46  2170-02-25 15:15:26  0.872685
3  2176-11-26 02:34:49  2176-11-29 20:58:54  3.766725
4  2150-06-03 20:12:32  2150-06-04 21:05:58  1.037106

In [100]:
# Definir a lista de antibióticos
antibiotics_list = [
    'adoxa', 'ala-tet', 'alodox', 'amikacin', 'amikin', 'amoxicill', 'amphotericin', 'anidulafungin',
    'ancef', 'clavulanate', 'ampicillin', 'augmentin', 'avelox', 'avidoxy', 'azactam', 'azithromycin',
    'aztreonam', 'axetil', 'bactocill', 'bactrim', 'bactroban', 'bethkis', 'biaxin', 'bicillin l-a',
    'cayston', 'cefazolin', 'cedax', 'cefoxitin', 'ceftazidime', 'cefaclor', 'cefadroxil', 'cefdinir',
    'cefditoren', 'cefepime', 'cefotan', 'cefotetan', 'cefotaxime', 'ceftaroline', 'cefpodoxime', 'cefpirome',
    'cefprozil', 'ceftibuten', 'ceftin', 'ceftriaxone', 'cefuroxime', 'cephalexin', 'cephalothin', 'cephapririn',
    'chloramphenicol', 'cipro', 'ciprofloxacin', 'claforan', 'clarithromycin', 'cleocin', 'clindamycin', 'cubicin',
    'dicloxacillin', 'dirithromycin', 'doryx', 'doxycy', 'duricef', 'dynacin', 'ery-tab', 'eryped', 'eryc',
    'erythrocin', 'erythromycin', 'factive', 'flagyl', 'fortaz', 'furadantin', 'garamycin', 'gentamicin',
    'kanamycin', 'keflex', 'kefzol', 'ketek', 'levaquin', 'levofloxacin', 'lincocin', 'linezolid', 'macrobid',
    'macrodantin', 'maxipime', 'mefoxin', 'metronidazole', 'meropenem', 'methicillin', 'minocin', 'minocycline',
    'monodox', 'monurol', 'morgidox', 'moxatag', 'moxifloxacin', 'mupirocin', 'myrac', 'nafcillin', 'neomycin',
    'nicazel doxy 30', 'nitrofurantoin', 'norfloxacin', 'noroxin', 'ocudox', 'ofloxacin', 'omnicef', 'oracea',
    'oraxyl', 'oxacillin', 'pc pen vk', 'pce dispertab', 'panixine', 'pediazole', 'penicillin', 'periostat',
    'pfizerpen', 'piperacillin', 'tazobactam', 'primsol', 'proquin', 'raniclor', 'rifadin', 'rifampin', 'rocephin',
    'smz-tmp', 'septra', 'septra ds', 'septra', 'solodyn', 'spectracef', 'streptomycin', 'sulfadiazine',
    'sulfamethoxazole', 'trimethoprim', 'sulfatrim', 'sulfisoxazole', 'suprax', 'synercid', 'tazicef',
    'tetracycline', 'timentin', 'tobramycin', 'trimethoprim', 'unasyn', 'vancocin', 'vancomycin', 'vantin',
    'vibativ', 'vibra-tabs', 'vibramycin', 'zinacef', 'zithromax', 'zosyn', 'zyvox'
]

# Criar DataFrame de antibióticos
antibiotics_df = pd.DataFrame({'drug': antibiotics_list})

# Carregar o DataFrame de prescrições
prescriptions_df = dfs['prescriptions']

# Função para identificar se o medicamento é um antibiótico
def is_antibiotic(drug):
    drug_lower = drug.lower()
    for abx in antibiotics_list:
        if abx in drug_lower:
            return 1
    return 0

# Aplicar a função para criar a coluna de antibióticos
prescriptions_df['antibiotic'] = prescriptions_df['drug'].apply(is_antibiotic)

# Filtrar as prescrições que são antibióticos
antibiotic_df = prescriptions_df[prescriptions_df['antibiotic'] == 1]

# Adicionar o DataFrame de antibióticos ao dicionário dfs
dfs['antibiotics'] = antibiotics_df

# Exibir as primeiras linhas do novo DataFrame de antibióticos
print("Primeiras linhas do DataFrame de Antibióticos:")
print(antibiotic_df.head())

Primeiras linhas do DataFrame de Antibióticos:
     subject_id   hadm_id  pharmacy_id         poe_id  poe_seq  \
293    10015860  25103777     19011988  10015860-1341   1341.0
299    10038992  22797747     77148582    10038992-48     48.0
551    10014078  25809882     58803034    10014078-73     73.0
552    10027602  28166872     67096778   10027602-276    276.0
553    10027602  28166872     91079440   10027602-331    331.0

    order_provider_id            starttime             stoptime drug_type  \
293            P13B4S  2192-07-31 22:00:00  2192-08-01 08:00:00      MAIN
299            P61UOA  2185-11-02 21:00:00  2185-11-08 20:00:00      MAIN
551            P326AV  2166-08-22 10:00:00  2166-08-24 23:00:00      MAIN
552            P91TFA  2201-11-08 11:00:00  2201-11-11 09:00:00      MAIN
553            P42Q7N  2201-11-11 12:00:00  2201-11-12 09:00:00      MAIN

                  drug  ...           ndc prod_strength  form_rx dose_val_rx  \
293         Vancomycin  ...  6.745703e+10    500mg Vial      NaN           0
299         vancomycin  ...           NaN         125mg      CAP         125
551  Ampicillin Sodium  ...  6.332304e+10       2g Vial      NaN           2
552  Ampicillin Sodium  ...  5.515001e+10       2g Vial      NaN           2
553  Ampicillin Sodium  ...  5.515001e+10       2g Vial      NaN           2

    dose_unit_rx form_val_disp form_unit_disp doses_per_24_hrs route  \
293           mg             0           VIAL              0.0    IV
299           mg             1            CAP              NaN  ORAL
551            g             1           VIAL              6.0    IV
552            g             1           VIAL              6.0    IV
553            g             1           VIAL              6.0    IV

     antibiotic
293           1
299           1
551           1
552           1
553           1

[5 rows x 22 columns]

In [101]:
# Tabela de dados de antibióticos
antibiotic_data = antibiotic_df[[
    'subject_id', 'hadm_id', 'starttime', 'stoptime', 'drug', 'pharmacy_id'
]].rename(columns={'drug': 'antibiotic'})

# Tabela de dados de microbiologia
microbiology_data = dfs['microbiologyevents'][[
    'subject_id', 'hadm_id', 'chartdate', 'charttime', 'spec_type_desc', 'org_name', 'org_itemid'
]]

# Identificar culturas positivas
microbiology_data['positiveculture'] = microbiology_data.apply(
    lambda row: 1 if pd.notnull(row['org_name']) and row['org_itemid'] != 90856 and row['org_name'] != '' else 0,
    axis=1
)

# Salvar arquivos manipulados
antibiotic_data.to_csv('antibiotic_data.csv', index=False)
microbiology_data.to_csv('microbiology_data.csv', index=False)

/tmp/ipykernel_246144/682179113.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microbiology_data['positiveculture'] = microbiology_data.apply(

In [87]:
# Exibir as primeiras linhas dos dados de antibióticos
antibiotic_data.head()

,subject_id,hadm_id,starttime,stoptime,antibiotic,pharmacy_id
293,10015860,25103777,2192-07-31 22:00:00,2192-08-01 08:00:00,Vancomycin,19011988
299,10038992,22797747,2185-11-02 21:00:00,2185-11-08 20:00:00,vancomycin,77148582
551,10014078,25809882,2166-08-22 10:00:00,2166-08-24 23:00:00,Ampicillin Sodium,58803034
552,10027602,28166872,2201-11-08 11:00:00,2201-11-11 09:00:00,Ampicillin Sodium,67096778
553,10027602,28166872,2201-11-11 12:00:00,2201-11-12 09:00:00,Ampicillin Sodium,91079440

In [88]:
# Exibir as primeiras linhas dos dados de microbiologia
microbiology_data.head()

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,org_name,org_itemid,positiveculture
0,10000032,25742920.0,2180-08-06 00:00:00,2180-08-06 20:35:00,SWAB,NaN,NaN,0
1,10000032,22595853.0,2180-05-07 00:00:00,2180-05-07 00:19:00,SWAB,NaN,NaN,0
2,10000032,29079034.0,2180-07-24 00:00:00,2180-07-24 00:55:00,SWAB,NaN,NaN,0
3,10020944,29974575.0,2131-02-27 00:00:00,2131-02-27 17:41:00,SWAB,ENTEROCOCCUS SP.,80053.0,1
4,10037975,27617929.0,2185-01-17 00:00:00,2185-01-17 21:32:00,SWAB,NaN,NaN,0

### Identificadores de Tratamento de Antibióticos
Foram criados identificadores únicos para cada tratamento de antibiótico utilizando a combinação do `subject_id` e `starttime`.

### Ajuste dos Tipos de Dados
As colunas de datas foram convertidas para o tipo `datetime` para facilitar as operações de comparação de datas.

In [102]:
# Criar identificadores únicos para cada tratamento de antibiótico
antibiotic_data['ab_id'] = antibiotic_data.groupby(['subject_id', 'starttime']).ngroup()

# Ajustar os tipos de dados para datas
antibiotic_data['starttime'] = pd.to_datetime(antibiotic_data['starttime'])
antibiotic_data['stoptime'] = pd.to_datetime(antibiotic_data['stoptime'])
microbiology_data['chartdate'] = pd.to_datetime(microbiology_data['chartdate'])
microbiology_data['charttime'] = pd.to_datetime(microbiology_data['charttime'])

# Exibir as primeiras linhas dos dados ajustados
antibiotic_data.head()
microbiology_data.head()

/tmp/ipykernel_246144/394726720.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microbiology_data['chartdate'] = pd.to_datetime(microbiology_data['chartdate'])
/tmp/ipykernel_246144/394726720.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microbiology_data['charttime'] = pd.to_datetime(microbiology_data['charttime'])

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,org_name,org_itemid,positiveculture
0,10000032,25742920.0,2180-08-06,2180-08-06 20:35:00,SWAB,NaN,NaN,0
1,10000032,22595853.0,2180-05-07,2180-05-07 00:19:00,SWAB,NaN,NaN,0
2,10000032,29079034.0,2180-07-24,2180-07-24 00:55:00,SWAB,NaN,NaN,0
3,10020944,29974575.0,2131-02-27,2131-02-27 17:41:00,SWAB,ENTEROCOCCUS SP.,80053.0,1
4,10037975,27617929.0,2185-01-17,2185-01-17 21:32:00,SWAB,NaN,NaN,0

## Identificação de Culturas Microbiológicas

### Culturas Positivas
Foi criada uma coluna para identificar culturas microbiológicas positivas e o df *relevant_cultures* armazena as culturas relevantes para análise posterior.

In [103]:
# Criar coluna para identificar culturas positivas
microbiology_data['positiveculture'] = np.where(microbiology_data['org_name'].notna(), 1, 0)

# Filtrar culturas relevantes
relevant_cultures = microbiology_data[microbiology_data['positiveculture'] == 1]

# Exibir as primeiras linhas das culturas relevantes
relevant_cultures.head()

/tmp/ipykernel_246144/1533957248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microbiology_data['positiveculture'] = np.where(microbiology_data['org_name'].notna(), 1, 0)

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,org_name,org_itemid,positiveculture
3,10020944,29974575.0,2131-02-27,2131-02-27 17:41:00,SWAB,ENTEROCOCCUS SP.,80053.0,1
109,10001725,NaN,2113-06-03,NaT,SWAB,YEAST,80075.0,1
110,10023239,NaN,2141-06-20,NaT,SWAB,YEAST,80075.0,1
111,10001725,NaN,2110-01-04,2110-01-04 14:33:00,SWAB,YEAST,80075.0,1
178,10020740,23831430.0,2150-03-19,2150-03-19 06:08:00,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,80293.0,1

## Definição de Suspeita de Infecção

### Verificação de Suspeita de Infecção
Para cada tratamento de antibiótico, foi verificado se há culturas microbiológicas positivas nas 72 horas antes ou nas 24 horas após a administração do antibiótico. Se qualquer uma dessas condições for atendida, o paciente é marcado com suspeita de infecção.

In [104]:
# Função para verificar suspeita de infecção
def check_suspected_infection(antibiotic_row):
    subject_id = antibiotic_row['subject_id']
    ab_starttime = antibiotic_row['starttime']
    ab_stoptime = antibiotic_row['stoptime']
    
    # Verificar culturas nas 72 horas antes do antibiótico
    cultures_before = relevant_cultures[(relevant_cultures['subject_id'] == subject_id) & 
                                        (relevant_cultures['charttime'] <= ab_starttime) &
                                        (relevant_cultures['charttime'] >= ab_starttime - pd.Timedelta(hours=72))]
    
    # Verificar culturas nas 24 horas depois do antibiótico
    cultures_after = relevant_cultures[(relevant_cultures['subject_id'] == subject_id) & 
                                       (relevant_cultures['charttime'] >= ab_starttime) &
                                       (relevant_cultures['charttime'] <= ab_starttime + pd.Timedelta(hours=24))]
    
    if not cultures_before.empty or not cultures_after.empty:
        return 1
    return 0

# Aplicar a função a cada linha de antibiotic_data
antibiotic_data['suspected_infection'] = antibiotic_data.apply(check_suspected_infection, axis=1)

# Exibir as primeiras linhas dos dados com suspeita de infecção
antibiotic_data.head()

,subject_id,hadm_id,starttime,stoptime,antibiotic,pharmacy_id,ab_id,suspected_infection
293,10015860,25103777,2192-07-31 22:00:00,2192-08-01 08:00:00,Vancomycin,19011988,337,1
299,10038992,22797747,2185-11-02 21:00:00,2185-11-08 20:00:00,vancomycin,77148582,702,0
551,10014078,25809882,2166-08-22 10:00:00,2166-08-24 23:00:00,Ampicillin Sodium,58803034,260,0
552,10027602,28166872,2201-11-08 11:00:00,2201-11-11 09:00:00,Ampicillin Sodium,67096778,579,1
553,10027602,28166872,2201-11-11 12:00:00,2201-11-12 09:00:00,Ampicillin Sodium,91079440,580,1

## Seleção Final 
Foram selecionadas as colunas relevantes para a análise final, que incluem o ID do paciente, ID da hospitalização, ID da permanência na UTI, ID do tratamento de antibiótico, nome do antibiótico, hora de início do antibiótico e a indicação de suspeita de infecção.

In [105]:
# Selecionar colunas relevantes para a análise final
final_df = antibiotic_data[['subject_id', 'hadm_id', 'ab_id', 'antibiotic', 'starttime', 'suspected_infection']]

# Exibir as primeiras linhas do resultado final
final_df.head()

,subject_id,hadm_id,ab_id,antibiotic,starttime,suspected_infection
293,10015860,25103777,337,Vancomycin,2192-07-31 22:00:00,1
299,10038992,22797747,702,vancomycin,2185-11-02 21:00:00,0
551,10014078,25809882,260,Ampicillin Sodium,2166-08-22 10:00:00,0
552,10027602,28166872,579,Ampicillin Sodium,2201-11-08 11:00:00,1
553,10027602,28166872,580,Ampicillin Sodium,2201-11-11 12:00:00,1

In [93]:
# Filtrar linhas onde 'suspected_infection' é igual a 1
suspected_infection_df = final_df.loc[final_df['suspected_infection'] == 1]

# Exibir as primeiras linhas do resultado final
print(suspected_infection_df.head())

      subject_id   hadm_id  ab_id                 antibiotic  \
293     10015860  25103777    337                 Vancomycin
552     10027602  28166872    579          Ampicillin Sodium
553     10027602  28166872    580          Ampicillin Sodium
1662    10007818  22987108    187                  Aztreonam
1669    10037928  29802992    672  Sulfameth/Trimethoprim DS

               starttime  suspected_infection
293  2192-07-31 22:00:00                    1
552  2201-11-08 11:00:00                    1
553  2201-11-11 12:00:00                    1
1662 2146-06-22 23:00:00                    1
1669 2179-07-27 15:00:00                    1

In [107]:

# Renomear starttime para antibiotic_time
antibiotic_data.rename(columns={'starttime': 'antibiotic_time'}, inplace=True)

# Adicionar culture_time, specimen, e positive_culture_time ao dataframe final soi
# Usar microbiology_data para culture_time e specimen
# Usar relevant_cultures para positive_culture_time
final_df['culture_time'] = np.nan
final_df['suspected_infection_time'] = np.nan
final_df['specimen'] = np.nan
final_df['positive_culture'] = np.nan

# Função para criar stay_id
icustays = dfs['icustays'][['subject_id', 'hadm_id', 'stay_id']].drop_duplicates()

# Merge para adicionar stay_id ao dataframe final
final_df = pd.merge(antibiotic_data, icustays, on=['subject_id', 'hadm_id'], how='left')

# Criar identificadores únicos para cada tratamento de antibiótico
final_df['ab_id'] = final_df['pharmacy_id']

# Iterar sobre final_df para preencher as colunas adicionadas
for index, row in final_df.iterrows():
    subject_id = row['subject_id']
    hadm_id = row['hadm_id']
    ab_id = row['ab_id']
    
    # Encontrar culture_time e specimen em microbiology_data
    cultures = microbiology_data[(microbiology_data['subject_id'] == subject_id) & (microbiology_data['hadm_id'] == hadm_id)]
    if not cultures.empty:
        final_df.loc[index, 'culture_time'] = cultures['charttime'].iloc[0]
        final_df.loc[index, 'specimen'] = cultures['org_name'].iloc[0]
    
    # Encontrar positive_culture_time em relevant_cultures
    positive_cultures = relevant_cultures[(relevant_cultures['subject_id'] == subject_id) & (relevant_cultures['hadm_id'] == hadm_id)]
    if not positive_cultures.empty:
        final_df.loc[index, 'positive_culture'] = 1
        final_df.loc[index, 'suspected_infection_time'] = positive_cultures['charttime'].iloc[0]

# Renomear a coluna starttime para antibiotic_time
final_df = final_df.rename(columns={'starttime': 'antibiotic_time'})

# Renomear final_df para soi e selecionar colunas finais
soi = final_df[['subject_id', 'stay_id', 'ab_id', 'antibiotic', 'antibiotic_time', 'culture_time', 'suspected_infection', 'suspected_infection_time', 'specimen', 'positive_culture']]


# Salvar soi como arquivo CSV
soi.to_csv('soi.csv', index=False)

soi.head()

/tmp/ipykernel_246144/1907719809.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.loc[index, 'specimen'] = cultures['org_name'].iloc[0]

,subject_id,stay_id,ab_id,antibiotic,antibiotic_time,culture_time,suspected_infection,suspected_infection_time,specimen,positive_culture
0,10015860,NaN,19011988,Vancomycin,2192-07-31 22:00:00,2192-08-02 06:32:00,1,NaT,NaN,NaN
1,10038992,NaN,77148582,vancomycin,2185-11-02 21:00:00,2185-11-02 21:30:00,0,NaT,NaN,NaN
2,10014078,38907302.0,58803034,Ampicillin Sodium,2166-08-22 10:00:00,2166-08-22 02:04:00,0,2166-08-23 11:13:00,NaN,1.0
3,10027602,32391858.0,67096778,Ampicillin Sodium,2201-11-08 11:00:00,2201-10-30 17:09:00,1,2201-11-05 02:20:00,NaN,1.0
4,10027602,32391858.0,91079440,Ampicillin Sodium,2201-11-11 12:00:00,2201-10-30 17:09:00,1,2201-11-05 02:20:00,NaN,1.0

### Lista de medicamentos classificados como antibióticos no script

1. Adoxa
2. Ala-Tet
3. Aldox
4. Amikacin
5. Amikin
6. Amoxicill
7. Amphotericin
8. Anidulafungin
9. Ancef
10. Clavulanate
11. Ampicillin
12. Augmentin
13. Avelox
14. Avidoxy
15. Azactam
16. Azithromycin
17. Aztreonam
18. Axetil
19. Bactocill
20. Bactrim
21. Bactroban
22. Bethkis
23. Biaxin
24. Bicillin L-A
25. Cayston
26. Cefazolin
27. Cedax
28. Cefoxitin
29. Ceftazidime
30. Cefaclor
31. Cefadroxil
32. Cefdinir
33. Cefditoren
34. Cefepime
35. Cefotan
36. Cefotetan
37. Cefotaxime
38. Ceftaroline
39. Cefpodoxime
40. Cefpirome
41. Cefprozil
42. Ceftibuten
43. Ceftin
44. Ceftriaxone
45. Cefuroxime
46. Cephalexin
47. Cephalothin
48. Cephapririn
49. Chloramphenicol
50. Cipro
51. Ciprofloxacin
52. Claforan
53. Clarithromycin
54. Cleocin
55. Clindamycin
56. Cubicin
57. Dicloxacillin
58. Dirithromycin
59. Doryx
60. Doxycy
61. Duricef
62. Dynacin
63. Ery-Tab
64. Eryped
65. Eryc
66. Erythrocin
67. Erythromycin
68. Factive
69. Flagyl
70. Fortaz
71. Furadantin
72. Garamycin
73. Gentamicin
74. Kanamycin
75. Keflex
76. Kefzol
77. Ketek
78. Levaquin
79. Levofloxacin
80. Lincocin
81. Linezolid
82. Macrobid
83. Macrodantin
84. Maxipime
85. Mefoxin
86. Metronidazole
87. Meropenem
88. Methicillin
89. Minocin
90. Minocycline
91. Monodox
92. Monurol
93. Morgidox
94. Moxatag
95. Moxifloxacin
96. Mupirocin
97. Myrac
98. Nafcillin
99. Neomycin
100. Nicazel Doxy 30
101. Nitrofurantoin
102. Norfloxacin
103. Noroxin
104. Ocudox
105. Ofloxacin
106. Omnicef
107. Oracea
108. Oraxyl
109. Oxacillin
110. PC Pen VK
111. PCE Dispertab
112. Panixine
113. Pediazole
114. Penicillin
115. Periostat
116. Pfizerpen
117. Piperacillin
118. Tazobactam
119. Primsol
120. Proquin
121. Raniclor
122. Rifadin
123. Rifampin
124. Rocephin
125. SMZ-TMP
126. Septra
127. Septra DS
128. Septra
129. Solodyn
130. Spectracef
131. Streptomycin
132. Sulfadiazine
133. Sulfamethoxazole
134. Trimethoprim
135. Sulfatrim
136. Sulfisoxazole
137. Suprax
138. Synercid
139. Tazicef
140. Tetracycline
141. Timentin
142. Tobramycin
143. Trimethoprim
144. Unasyn
145. Vancocin
146. Vancomycin
147. Vantin
148. Vibativ
149. Vibra-Tabs
150. Vibramycin
151. Zinacef
152. Zithromax
153. Zosyn
154. Zyvox